@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    font-size: 24px;
}

.tip-card p {
    line-height: 1.8;
    color: #486581;
}

footer {
    margin-top: 60px;
    text-align: center;
    padding: 35px;
    background: linear-gradient(45deg,#0077b6,#0096c7);
    color: white;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00b4d8;
    border-radius: 50px;
}

@media(max-width: 900px) {

    header {
        flex-direction: column;
        gap: 15px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 48px;
    }

    .hero-image {
        font-size: 180px;
    }

    .grafico-section h2,
    .tips-section h2 {
        font-size: 38px;
    }
}